html {
  background-color: #efefef;
  margin: 0px;
  padding: 0px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-image: url('hypnotize.png');
}

img {
    margin-top: 2px;
    postion:absolute;
    margin-left: 2px;
}

.menu a {
    color: #656565;
    background-color: rgba(255, 255, 255, 0);
    float: right;
    height: 35px;
    padding-top: 10px;
    text-decoration: none;
    font-weight: lighter;
    font-family: 'Dosis', cursive;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}

.menu a:hover{
    color: #fff;
    background-color: rgba(10, 10, 10, 0.4);
    opacity: 1;
    float: right;
    height: 35px;
    text-decoration: none;
    font-weight: lighter;
    font-family: 'Dosis', cursive;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}

.cover {
    background-color: #d489a2;
    opacity: 0.5;
    margin: 0px;
    padding: 0px;
    height:100%;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    //background-repeat: repeat;
    //background-image: url('hypnotize.png');
}

.code {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-weight: 200;
}

body {
    margin: 0px;
    padding: 0px;
}

.navbar {
    width: 100%;
    background-repeat: no-repeat;
    height: 45px;
    position: relative;
    opacity: 0.85;
    vertical-align: middle;
    font-family: 'Dosis', sans-serif;
    background-color: rgba(255, 255, 255, 0);
    color: #eee;
}

.navbutton {
    font-family: Dosis, sans-serif;
    font-size: 20px;
    vertical-align: middle;
    position: fixed;
    margin-left: 95%;
    margin-right: 5%;
    margin-top: 12px;
}

.page, .namepage {
    background-color: #fefefe;
    color: #313131;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 60%;
    margin-left: 18%;
    padding: 2%;
}

.description {
    font-family: 'Roboto Slab', serif;
    color: #414141;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

.photo {
    width: 200px;
    height: 200px;
    margin-left: 37.5%;
    padding: 0.5%;
    margin: 0 auto;
    background-image: url('MyPhoto.png');
    object-fit: contain;
    margin-top: 3%;
    background-color: white;
    margin-bottom: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 22022000px;
}

.namepage {
    width: 25%;
    margin-left: 37.5%;
    padding: 0.5%;
    margin-bottom: 2%;
}

.name, h2 {
    color: #212121;
    margin-top: 4%;
    font-size: 30px;
    text-align: center;
    font-weight: 100;
    font-family: 'Dosis', sans-serif;
}

h2 {
    font-size: 20px;
    padding: 0px;
    margin-bottom: 0px;
}
